.App{
}

input{
    border-radius: 0.125rem;
    /* border: thin solid black; */
}

/* #modal-root {
    color: red;
    position: relative;
    z-index: 999;
  } */

.modalClass {
    background-color: rgba(0,0,0,0.5);
    position: fixed; 
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* position: fixed; is positioned relative to the viewport, 
  which means it always stays in the same place even if the page is scrolled */

  h3{
    padding: 5px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#description{
    line-height: 1.6;
}


